@model EspacoTech.Models.Sala

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-success fw-bolder">@Html.DisplayFor(model => model.TipoSala)</h1>

<div class="d-flex flex-column">
    <hr />
    <dl class="row text-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipamento)
        </dd>
    </dl>
    <div class="d-flex flex-row gap-3 mb-5">
        <a class="btn btn-warning fw-bold" asp-action="Edit" asp-route-id="@Model?.IdSala">Editar</a> |
        <a class="btn btn-success fw-bold" asp-action="Index">Voltar</a>
    </div>
</div>

<div class=" col-lg minha-imagem order-lg-2 d-flex flex-column justify-content-center mb-5">
    <div class="container-fluid py-5 d-flex flex-column justify-content-center">
        <img src="~/src/vazio.png" alt="logo" width="500" height="100" />
    </div>
    <div class="container-fluid py-5 d-flex flex-column justify-content-center">
        <img class="align-self-center" src="~/src/logoMain.png" alt="logo" width="500" height="150" />
    </div>
    <div class="container-fluid py-5 d-flex flex-column justify-content-center">
        <img src="~/src/vazio.png" alt="logo" width="500" height="100" />
    </div>
</div>